.App .ba button {
  border: none;
  position: relative;
  text-transform: lowercase;
  text-transform: capitalize;
  left: 3%;
  width: 8%;
  background-color: transparent;
  outline: none;
}

.top-heading {
  align-items: center;
  justify-content: center;
  display: flex;
}

.Lines {
  position: relative;
  width: 60%;
  background: #ecfcff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  border: 4px solid #063d65;
}

.sentence-info {
  margin-top: 10px;
  margin-bottom: 10px;
}
.sentence-column {
  padding: 0 0;
}

.edit-icon {
  position: absolute;
  top: 0;
  right: -13px;
}

.table-row .button-cell {
  /* text-align: right; */
  display: flex;
  flex-direction: row;
  width: 100%;
}

.editable {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  color: #063d65;
  /* float: right; */
  /* display: flex; */
  /* padding: 0; */
  height: 10px;
  width: 100px;
  /* align-items: center; */
  /* margin-left: 800px; */
  /* margin-bottom: 10px; */
  top: 0%;
  left: 50%;
  transform: translate(50%, -200%);
}

.editable-content {
  border: 1px solid #ccc;
  padding: 3px;
  background-color: #f9f9f9;
  cursor: text;
}

.Back-button {
  margin-left: 5%;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.parent-sentence {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: red;
}

.Usr-button button {
  position: relative;
  top: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #063d65;
  width: 200px;
  color: #fff;
  cursor: pointer;
}
