.top {
  overflow-x: hidden;
}

.ba button {
  border: none;
  position: relative;
  text-transform: lowercase;
  text-transform: capitalize;
  left: 3%;
  width: 8%;
  background-color: transparent;
  outline: none;
}

.sentence {
  color: #2f2f2f;
}

.box-top {
  position: relative;
  width: 95%;
  overflow-x: hidden;
  left: 40px;
}

.box-middle {
  position: relative;
  left: 40px;
  width: 95%;
}

.contain {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: black;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0 0;
  padding: 10px;
  border: 1px solid black;
  background-color: #f9f9f9;
  color: black;
}

.box-top .content a {
  text-decoration: none;
}

.arrow {
  margin-left: 15px;
}
